MONGO_URI=
PORT=
JWT_ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
RESET_PASSWORD_TOKEN_SECRET=
RESET_PASSWORD_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET=
RESEND_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD =
ADMIN_NAME =
NODE_ENV=
FRONTEND_URL_DEV=http://localhost:5173
FRONTEND_URL_PROD=https://lms-scratch.vercel.app
