@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 234, 234);
}

@layer components {
  .button {
    @apply px-4 py-2 whitespace-nowrap rounded-full cursor-pointer w-full md:w-fit bg-blue-400;
  }
  .input {
    @apply border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 transition;
  }

  .error {
    @apply text-red-500 text-sm mt-1;
  }
}
